[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.4.x
[submodule "external/libyaml"]
	path = external/libyaml
	url = https://github.com/yaml/libyaml
	branch = release/0.2.5
[submodule "external/LuaJIT"]
	path = external/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
	branch = v2.1
